/*CHALLENGE PAGE*/
@import "vars.scss";

.challenge-block {
	padding:70px 0;

	.inline-menu {
		margin:20px 0;
	}

	.audio-wrapper {
		margin-bottom:25px;
	}
}

.challenge-body {
	background: url('../images/chewbacca.jpg') no-repeat center center;
	background-size:cover; 
}

.post-to {
	img {
		width:205px;
	}
}
