/*welcome block*/
@import "vars.scss";

.welcome_block {
	background:url(../images/main.jpg) no-repeat center center;
	background-size: cover;
  padding: 80px 0 45px;
  position: relative;

  .welcome-item {
  	margin-bottom:20px;
  }

  .tooltip-block {
  	position:absolute;
  	bottom:100%;
  	margin-bottom:10px;
  	right:0;left:0;
  	max-width: 100%;
  	display: none;

  	p {
  		margin:0;
  		font-size:14px;
  		line-height: 1.2;
  	}

  	.tooltip_arrow {
	    position: absolute;
	    top: 20px;
	    right: -100px;
	    display: block;
	    width: 100px;
	    height: auto;
  	}
  }

  h1, h2  {
  	color:$white;
  }

  .big {
  	font-size: 32px;

  	sub {
  		font-size:18px;
  	}
  }

  a {
  	color:$white;
  	text-decoration: underline;

  	&:hover {
  		text-decoration:none;
  	}
  }

  hr {
  	margin:20px -15px;
  	background:rgba(255,255,255,0.5);
  	height:1px;
  	border:none;
  }

  .date-time-container {
  	margin:20px 0;
  }

	.content-block {
		background: rgba(0,0,0,0.8);
		padding: 15px;
		color:$white;
		line-height: 1.5;
		position:relative;

		.datepicker,
		.timepicker {
			width:45%;
			float:left;
		}

		.text-at {
			width:10%;
			float: left;
			text-align: center;
    	line-height: 30px;
		}

		.welcome-timepicker,
		.welcome-datepicker {
			width: 100%;
			font-style: 16px;
		}

		input,
		select {
			color:$white;
			height:24px;
			display: inline-block;
			vertical-align: baseline;
		}
	}

	.login-block {
		text-align: center;
		margin-top:20px;

		img {
			display: block;
			margin: 0 auto;
			width:205px;
		}
	}
}

.challenge_block {
/*RED LAYOUT*/
/*	background: $PrimaryFirst;*/

	padding:40px 0;

	h1 {
		margin-bottom: 25px;
/*RED LAYOUT*/		
/*		color:$PrimarySecond;*/
	}

	p {
/*RED LAYOUT*/		
/*		color:$PrimarySecond;*/
	}

	.challenge-item {
		margin-bottom:50px;
	}

	.btn {
		white-space: normal;
	}
}



/*VALIDATION STYLES*/

.field_error {
	display:none;
	color:$red;
	font-size: 11px;
	padding-top:3px;

	.show {
		display: block;
	}
}