/*QUIZ PAGE*/
@import "vars.scss";

.quiz-bg {
	background: url(../images/bg_01.jpg) no-repeat center center;
	background-size: cover;
}

.quiz-radio {
	margin:20px 0;
	line-height: 25px;
	padding:0;
	list-style-type:none;

	li {
		margin-bottom:10px;
	}

	label {
		cursor: pointer;
		&:hover,
		&:focus {
			color:$whiteSmoke;
		}
	}
}

.quiz-wrapper {
	padding:50px 0;

	p {
		margin-bottom:15px;
	}

	.quiz-button {
		float:right;
	}
}

