/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


/*FONTS*/
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@import "vars.scss";

html {
  position: relative;
  min-height: 100%;
}

/*MAIN STYLES*/

select,
input,
textarea {
	outline:none !important;
}

body {
	font-family: $mainFontRegular;
	margin-bottom:$StickyFooterHeight;
	color:$PrimarySecond;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-family: $mainFontBold;
	color:$PrimarySecond;
}

h1 {
	font-size: 28px;
	margin-bottom: 15px;

	sub {
		font-size: 16px;
	}
}

h2 {
	font-size: 24px;
	margin-bottom: 12px;
}

h3 {
	font-size:21px;
	margin-bottom:10px;
}

h4 {
	font-size: 18px;
	margin-bottom:8px;
}

p {
	line-height: 1.5;
	margin-bottom:15px;
}

a {
	color:$white;

	&:hover {
		color:$white;		
	}
}

ul {
	list-style: inherit;
	padding-left:20px;
}

ol {
	list-style: inherit;
	list-style-type: decimal;
	padding-left:20px;
}

.select-item {
	select {
		background: none;
		border:none;
		-webkit-appearance: none;
    -webkit-box-shadow: inset 0 -1px 0 #ddd;
    box-shadow: inset 0 -1px 0 #ddd;
    max-width: 100%;

    &:focus {
    	-webkit-box-shadow: inset 0 -2px 0 #2196f3;
    	box-shadow: inset 0 -2px 0 #2196f3;
    }

    option {
    	color:$black;
    }
	}
}

.dotted-list {
	padding-left:20px;
	list-style: disc;
	line-height: 2;
	margin:15px 0;
}

.cf:before, .cf:after { content: " ";  display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }

input[type="radio"]:checked:after, 
.radio input[type="radio"]:checked:after, 
.radio-inline input[type="radio"]:checked:after {
	border-color: $DarkPrimary;
}

input[type="radio"]:before, 
.radio input[type="radio"]:before, 
.radio-inline input[type="radio"]:before {
	    background-color: $DarkPrimary;
}

.inline-menu {
	list-style: none;
	padding:0;
	li {
		display: inline-block;
	}
}

.copy-block {
	line-height: 1.5;
	border:1px solid $white;
	padding:15px;
}

.transparent-block {
		background: rgba(0,0,0,0.8);
		padding: 15px;
		color:$white;

		h1,h2,h3,h4,h5,h6 {
			color:$white;			
		}

		input[type="radio"]:after, 
		.radio input[type="radio"]:after, 
		.radio-inline input[type="radio"]:after {
			border-color:$white;
		}

		input[type="radio"]:checked:after, 
		.radio input[type="radio"]:checked:after, 
		.radio-inline input[type="radio"]:checked:after {
		  border-color: #920C0C;
		}
}

.standard-hr {
	border:1px solid #D8D7DA;
}

/*PROJECT STYLES*/

.site-header {
	padding:5px 0;
	background: $DarkPrimary;
	text-align: center;

	img {
		display: block;
		margin: 0 auto;
		height:25px;
	}
}

.site-footer {
	padding:10px 0;
	background: $PrimarySecond;	
	text-align: center;
	position: absolute;
	bottom:0;
	width: 100%;
	color:$white;

	.inline-menu {
		display: inline-block;
		margin-right:20px;

		li {
			margin-left:6px;
		}

		a {
			color:$white;
			font-size: 12px;
			line-height: 1.5;
		}
	}
}

.copyrights {
	display: inline-block;
	font-size: 12px;
	color:$white;
	line-height: 1;
	padding: 0;
	margin:0;
}

.timer {
	font-size: 30px;
	padding-top:8px;

	& > div {
		display: inline-block;
	}

	&.is-complete {
		color:$DarkPrimary;
	}
}

.datepicker {
	padding:0 !important;
}

@import "home.scss";
@import "quiz.scss";
@import "challenge.scss";

/*MODAL*/

.modal {
		color:$PrimarySecond;
} 

.modal {
	bottom:10% !important; 
}


/*RESPONSIVE*/

@media (max-width:992px){
	.tooltip-block {
		display: none !important;
	}
	.page-not-found {
		min-height:0;
	}

	.welcome_block {
		background-image:url(../images/main_small.jpg);
	}

	.quiz-bg {
		background-image: url(../images/bg_01_small.jpg);
	}

	.challenge-body {
		background-image: url(../images/chewbacca_small.jpg);
	}



}


/*404 PAGE*/

.page-not-found {
	min-height: 400px;
}