/*VARIABLES*/

$mainFontRegular: 'montserratregular', sans-serif;
$mainFontBold: 'montserratbold', sans-serif;

/*colors*/

$DarkPrimary: #920C0C;
$PrimaryFirst: #BF4343;
$PrimarySecond: #3C3744;
$Accent: #068D9D;
$PrimarySecond: #3C3744;
$LightText: #9D9BA1;
$red: #FF0000;

$whiteSmoke: f5f5f5;
$white: #fff;
$black: #000;
$darkSide: #666;

$StickyFooterHeight:52px;


/*font-sizes*/

$smallest: 10px;

/*sticky footer*/
