/*CHALLENGE PAGE*/
/*VARIABLES*/
/*colors*/
/*font-sizes*/
/*sticky footer*/
/* line 4, ../sass/challenge.scss */
.challenge-block {
  padding: 70px 0;
}
/* line 7, ../sass/challenge.scss */
.challenge-block .inline-menu {
  margin: 20px 0;
}
/* line 11, ../sass/challenge.scss */
.challenge-block .audio-wrapper {
  margin-bottom: 25px;
}

/* line 16, ../sass/challenge.scss */
.challenge-body {
  background: url("../images/chewbacca.jpg") no-repeat center center;
  background-size: cover;
}

/* line 22, ../sass/challenge.scss */
.post-to img {
  width: 205px;
}
