/*welcome block*/
/*VARIABLES*/
/*colors*/
/*font-sizes*/
/*sticky footer*/
/* line 4, ../sass/home.scss */
.welcome_block {
  background: url(../images/main.jpg) no-repeat center center;
  background-size: cover;
  padding: 80px 0 45px;
  position: relative;
}
/* line 10, ../sass/home.scss */
.welcome_block .welcome-item {
  margin-bottom: 20px;
}
/* line 14, ../sass/home.scss */
.welcome_block .tooltip-block {
  position: absolute;
  bottom: 100%;
  margin-bottom: 10px;
  right: 0;
  left: 0;
  max-width: 100%;
  display: none;
}
/* line 22, ../sass/home.scss */
.welcome_block .tooltip-block p {
  margin: 0;
  font-size: 14px;
  line-height: 1.2;
}
/* line 28, ../sass/home.scss */
.welcome_block .tooltip-block .tooltip_arrow {
  position: absolute;
  top: 20px;
  right: -100px;
  display: block;
  width: 100px;
  height: auto;
}
/* line 38, ../sass/home.scss */
.welcome_block h1, .welcome_block h2 {
  color: #fff;
}
/* line 42, ../sass/home.scss */
.welcome_block .big {
  font-size: 32px;
}
/* line 45, ../sass/home.scss */
.welcome_block .big sub {
  font-size: 18px;
}
/* line 50, ../sass/home.scss */
.welcome_block a {
  color: #fff;
  text-decoration: underline;
}
/* line 54, ../sass/home.scss */
.welcome_block a:hover {
  text-decoration: none;
}
/* line 59, ../sass/home.scss */
.welcome_block hr {
  margin: 20px -15px;
  background: rgba(255, 255, 255, 0.5);
  height: 1px;
  border: none;
}
/* line 66, ../sass/home.scss */
.welcome_block .date-time-container {
  margin: 20px 0;
}
/* line 70, ../sass/home.scss */
.welcome_block .content-block {
  background: rgba(0, 0, 0, 0.8);
  padding: 15px;
  color: #fff;
  line-height: 1.5;
  position: relative;
}
/* line 77, ../sass/home.scss */
.welcome_block .content-block .datepicker,
.welcome_block .content-block .timepicker {
  width: 45%;
  float: left;
}
/* line 83, ../sass/home.scss */
.welcome_block .content-block .text-at {
  width: 10%;
  float: left;
  text-align: center;
  line-height: 30px;
}
/* line 90, ../sass/home.scss */
.welcome_block .content-block .welcome-timepicker,
.welcome_block .content-block .welcome-datepicker {
  width: 100%;
  font-style: 16px;
}
/* line 96, ../sass/home.scss */
.welcome_block .content-block input,
.welcome_block .content-block select {
  color: #fff;
  height: 24px;
  display: inline-block;
  vertical-align: baseline;
}
/* line 105, ../sass/home.scss */
.welcome_block .login-block {
  text-align: center;
  margin-top: 20px;
}
/* line 109, ../sass/home.scss */
.welcome_block .login-block img {
  display: block;
  margin: 0 auto;
  width: 205px;
}

/* line 117, ../sass/home.scss */
.challenge_block {
  /*RED LAYOUT*/
  /*	background: $PrimaryFirst;*/
  padding: 40px 0;
}
/* line 123, ../sass/home.scss */
.challenge_block h1 {
  margin-bottom: 25px;
  /*RED LAYOUT*/
  /*		color:$PrimarySecond;*/
}
/* line 129, ../sass/home.scss */
.challenge_block p {
  /*RED LAYOUT*/
  /*		color:$PrimarySecond;*/
}
/* line 134, ../sass/home.scss */
.challenge_block .challenge-item {
  margin-bottom: 50px;
}
/* line 138, ../sass/home.scss */
.challenge_block .btn {
  white-space: normal;
}

/*VALIDATION STYLES*/
/* line 147, ../sass/home.scss */
.field_error {
  display: none;
  color: #FF0000;
  font-size: 11px;
  padding-top: 3px;
}
/* line 153, ../sass/home.scss */
.field_error .show {
  display: block;
}
