/*QUIZ PAGE*/
/*VARIABLES*/
/*colors*/
/*font-sizes*/
/*sticky footer*/
/* line 4, ../sass/quiz.scss */
.quiz-bg {
  background: url(../images/bg_01.jpg) no-repeat center center;
  background-size: cover;
}

/* line 9, ../sass/quiz.scss */
.quiz-radio {
  margin: 20px 0;
  line-height: 25px;
  padding: 0;
  list-style-type: none;
}
/* line 15, ../sass/quiz.scss */
.quiz-radio li {
  margin-bottom: 10px;
}
/* line 19, ../sass/quiz.scss */
.quiz-radio label {
  cursor: pointer;
}
/* line 21, ../sass/quiz.scss */
.quiz-radio label:hover, .quiz-radio label:focus {
  color: f5f5f5;
}

/* line 28, ../sass/quiz.scss */
.quiz-wrapper {
  padding: 50px 0;
}
/* line 31, ../sass/quiz.scss */
.quiz-wrapper p {
  margin-bottom: 15px;
}
/* line 35, ../sass/quiz.scss */
.quiz-wrapper .quiz-button {
  float: right;
}
