/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*FONTS*/
@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype"), url("../fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype"), url("../fonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*VARIABLES*/
/*colors*/
/*font-sizes*/
/*sticky footer*/
/* line 39, ../sass/screen.scss */
html {
  position: relative;
  min-height: 100%;
}

/*MAIN STYLES*/
/* line 46, ../sass/screen.scss */
select,
input,
textarea {
  outline: none !important;
}

/* line 52, ../sass/screen.scss */
body {
  font-family: "montserratregular", sans-serif;
  margin-bottom: 52px;
  color: #3C3744;
}

/* line 58, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "montserratbold", sans-serif;
  color: #3C3744;
}

/* line 64, ../sass/screen.scss */
h1 {
  font-size: 28px;
  margin-bottom: 15px;
}
/* line 68, ../sass/screen.scss */
h1 sub {
  font-size: 16px;
}

/* line 73, ../sass/screen.scss */
h2 {
  font-size: 24px;
  margin-bottom: 12px;
}

/* line 78, ../sass/screen.scss */
h3 {
  font-size: 21px;
  margin-bottom: 10px;
}

/* line 83, ../sass/screen.scss */
h4 {
  font-size: 18px;
  margin-bottom: 8px;
}

/* line 88, ../sass/screen.scss */
p {
  line-height: 1.5;
  margin-bottom: 15px;
}

/* line 93, ../sass/screen.scss */
a {
  color: #fff;
}
/* line 96, ../sass/screen.scss */
a:hover {
  color: #fff;
}

/* line 101, ../sass/screen.scss */
ul {
  list-style: inherit;
  padding-left: 20px;
}

/* line 106, ../sass/screen.scss */
ol {
  list-style: inherit;
  list-style-type: decimal;
  padding-left: 20px;
}

/* line 113, ../sass/screen.scss */
.select-item select {
  background: none;
  border: none;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 -1px 0 #ddd;
  box-shadow: inset 0 -1px 0 #ddd;
  max-width: 100%;
}
/* line 121, ../sass/screen.scss */
.select-item select:focus {
  -webkit-box-shadow: inset 0 -2px 0 #2196f3;
  box-shadow: inset 0 -2px 0 #2196f3;
}
/* line 126, ../sass/screen.scss */
.select-item select option {
  color: #000;
}

/* line 132, ../sass/screen.scss */
.dotted-list {
  padding-left: 20px;
  list-style: disc;
  line-height: 2;
  margin: 15px 0;
}

/* line 139, ../sass/screen.scss */
.cf:before, .cf:after {
  content: " ";
  display: table;
}

/* line 140, ../sass/screen.scss */
.cf:after {
  clear: both;
}

/* line 141, ../sass/screen.scss */
.cf {
  *zoom: 1;
}

/* line 143, ../sass/screen.scss */
input[type="radio"]:checked:after,
.radio input[type="radio"]:checked:after,
.radio-inline input[type="radio"]:checked:after {
  border-color: #920C0C;
}

/* line 149, ../sass/screen.scss */
input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before {
  background-color: #920C0C;
}

/* line 155, ../sass/screen.scss */
.inline-menu {
  list-style: none;
  padding: 0;
}
/* line 158, ../sass/screen.scss */
.inline-menu li {
  display: inline-block;
}

/* line 163, ../sass/screen.scss */
.copy-block {
  line-height: 1.5;
  border: 1px solid #fff;
  padding: 15px;
}

/* line 169, ../sass/screen.scss */
.transparent-block {
  background: rgba(0, 0, 0, 0.8);
  padding: 15px;
  color: #fff;
}
/* line 174, ../sass/screen.scss */
.transparent-block h1, .transparent-block h2, .transparent-block h3, .transparent-block h4, .transparent-block h5, .transparent-block h6 {
  color: #fff;
}
/* line 178, ../sass/screen.scss */
.transparent-block input[type="radio"]:after,
.transparent-block .radio input[type="radio"]:after,
.transparent-block .radio-inline input[type="radio"]:after {
  border-color: #fff;
}
/* line 184, ../sass/screen.scss */
.transparent-block input[type="radio"]:checked:after,
.transparent-block .radio input[type="radio"]:checked:after,
.transparent-block .radio-inline input[type="radio"]:checked:after {
  border-color: #920C0C;
}

/* line 191, ../sass/screen.scss */
.standard-hr {
  border: 1px solid #D8D7DA;
}

/*PROJECT STYLES*/
/* line 197, ../sass/screen.scss */
.site-header {
  padding: 5px 0;
  background: #920C0C;
  text-align: center;
}
/* line 202, ../sass/screen.scss */
.site-header img {
  display: block;
  margin: 0 auto;
  height: 25px;
}

/* line 209, ../sass/screen.scss */
.site-footer {
  padding: 10px 0;
  background: #3C3744;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
}
/* line 218, ../sass/screen.scss */
.site-footer .inline-menu {
  display: inline-block;
  margin-right: 20px;
}
/* line 222, ../sass/screen.scss */
.site-footer .inline-menu li {
  margin-left: 6px;
}
/* line 226, ../sass/screen.scss */
.site-footer .inline-menu a {
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
}

/* line 234, ../sass/screen.scss */
.copyrights {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  padding: 0;
  margin: 0;
}

/* line 243, ../sass/screen.scss */
.timer {
  font-size: 30px;
  padding-top: 8px;
}
/* line 247, ../sass/screen.scss */
.timer > div {
  display: inline-block;
}
/* line 251, ../sass/screen.scss */
.timer.is-complete {
  color: #920C0C;
}

/* line 256, ../sass/screen.scss */
.datepicker {
  padding: 0 !important;
}

/*welcome block*/
/* line 4, ../sass/home.scss */
.welcome_block {
  background: url(../images/main.jpg) no-repeat center center;
  background-size: cover;
  padding: 80px 0 45px;
  position: relative;
}
/* line 10, ../sass/home.scss */
.welcome_block .welcome-item {
  margin-bottom: 20px;
}
/* line 14, ../sass/home.scss */
.welcome_block .tooltip-block {
  position: absolute;
  bottom: 100%;
  margin-bottom: 10px;
  right: 0;
  left: 0;
  max-width: 100%;
  display: none;
}
/* line 22, ../sass/home.scss */
.welcome_block .tooltip-block p {
  margin: 0;
  font-size: 14px;
  line-height: 1.2;
}
/* line 28, ../sass/home.scss */
.welcome_block .tooltip-block .tooltip_arrow {
  position: absolute;
  top: 20px;
  right: -100px;
  display: block;
  width: 100px;
  height: auto;
}
/* line 38, ../sass/home.scss */
.welcome_block h1, .welcome_block h2 {
  color: #fff;
}
/* line 42, ../sass/home.scss */
.welcome_block .big {
  font-size: 32px;
}
/* line 45, ../sass/home.scss */
.welcome_block .big sub {
  font-size: 18px;
}
/* line 50, ../sass/home.scss */
.welcome_block a {
  color: #fff;
  text-decoration: underline;
}
/* line 54, ../sass/home.scss */
.welcome_block a:hover {
  text-decoration: none;
}
/* line 59, ../sass/home.scss */
.welcome_block hr {
  margin: 20px -15px;
  background: rgba(255, 255, 255, 0.5);
  height: 1px;
  border: none;
}
/* line 66, ../sass/home.scss */
.welcome_block .date-time-container {
  margin: 20px 0;
}
/* line 70, ../sass/home.scss */
.welcome_block .content-block {
  background: rgba(0, 0, 0, 0.8);
  padding: 15px;
  color: #fff;
  line-height: 1.5;
  position: relative;
}
/* line 77, ../sass/home.scss */
.welcome_block .content-block .datepicker,
.welcome_block .content-block .timepicker {
  width: 45%;
  float: left;
}
/* line 83, ../sass/home.scss */
.welcome_block .content-block .text-at {
  width: 10%;
  float: left;
  text-align: center;
  line-height: 30px;
}
/* line 90, ../sass/home.scss */
.welcome_block .content-block .welcome-timepicker,
.welcome_block .content-block .welcome-datepicker {
  width: 100%;
  font-style: 16px;
}
/* line 96, ../sass/home.scss */
.welcome_block .content-block input,
.welcome_block .content-block select {
  color: #fff;
  height: 24px;
  display: inline-block;
  vertical-align: baseline;
}
/* line 105, ../sass/home.scss */
.welcome_block .login-block {
  text-align: center;
  margin-top: 20px;
}
/* line 109, ../sass/home.scss */
.welcome_block .login-block img {
  display: block;
  margin: 0 auto;
  width: 205px;
}

/* line 117, ../sass/home.scss */
.challenge_block {
  /*RED LAYOUT*/
  /*	background: $PrimaryFirst;*/
  padding: 40px 0;
}
/* line 123, ../sass/home.scss */
.challenge_block h1 {
  margin-bottom: 25px;
  /*RED LAYOUT*/
  /*		color:$PrimarySecond;*/
}
/* line 129, ../sass/home.scss */
.challenge_block p {
  /*RED LAYOUT*/
  /*		color:$PrimarySecond;*/
}
/* line 134, ../sass/home.scss */
.challenge_block .challenge-item {
  margin-bottom: 50px;
}
/* line 138, ../sass/home.scss */
.challenge_block .btn {
  white-space: normal;
}

/*VALIDATION STYLES*/
/* line 147, ../sass/home.scss */
.field_error {
  display: none;
  color: #FF0000;
  font-size: 11px;
  padding-top: 3px;
}
/* line 153, ../sass/home.scss */
.field_error .show {
  display: block;
}

/*QUIZ PAGE*/
/* line 4, ../sass/quiz.scss */
.quiz-bg {
  background: url(../images/bg_01.jpg) no-repeat center center;
  background-size: cover;
}

/* line 9, ../sass/quiz.scss */
.quiz-radio {
  margin: 20px 0;
  line-height: 25px;
  padding: 0;
  list-style-type: none;
}
/* line 15, ../sass/quiz.scss */
.quiz-radio li {
  margin-bottom: 10px;
}
/* line 19, ../sass/quiz.scss */
.quiz-radio label {
  cursor: pointer;
}
/* line 21, ../sass/quiz.scss */
.quiz-radio label:hover, .quiz-radio label:focus {
  color: f5f5f5;
}

/* line 28, ../sass/quiz.scss */
.quiz-wrapper {
  padding: 50px 0;
}
/* line 31, ../sass/quiz.scss */
.quiz-wrapper p {
  margin-bottom: 15px;
}
/* line 35, ../sass/quiz.scss */
.quiz-wrapper .quiz-button {
  float: right;
}

/*CHALLENGE PAGE*/
/* line 4, ../sass/challenge.scss */
.challenge-block {
  padding: 70px 0;
}
/* line 7, ../sass/challenge.scss */
.challenge-block .inline-menu {
  margin: 20px 0;
}
/* line 11, ../sass/challenge.scss */
.challenge-block .audio-wrapper {
  margin-bottom: 25px;
}

/* line 16, ../sass/challenge.scss */
.challenge-body {
  background: url("../images/chewbacca.jpg") no-repeat center center;
  background-size: cover;
}

/* line 22, ../sass/challenge.scss */
.post-to img {
  width: 205px;
}

/*MODAL*/
/* line 266, ../sass/screen.scss */
.modal {
  color: #3C3744;
}

/* line 270, ../sass/screen.scss */
.modal {
  bottom: 10% !important;
}

/*RESPONSIVE*/
@media (max-width: 992px) {
  /* line 278, ../sass/screen.scss */
  .tooltip-block {
    display: none !important;
  }

  /* line 281, ../sass/screen.scss */
  .page-not-found {
    min-height: 0;
  }

  /* line 285, ../sass/screen.scss */
  .welcome_block {
    background-image: url(../images/main_small.jpg);
  }

  /* line 289, ../sass/screen.scss */
  .quiz-bg {
    background-image: url(../images/bg_01_small.jpg);
  }

  /* line 293, ../sass/screen.scss */
  .challenge-body {
    background-image: url(../images/chewbacca_small.jpg);
  }
}
/*404 PAGE*/
/* line 304, ../sass/screen.scss */
.page-not-found {
  min-height: 400px;
}
